/*---------------bigvideo------------------*/
* { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; *behavior:url(boxsizing.htc); }
img{
	border:none;
	text-decoration:none;
	}
html,body {
	padding: 0;
	margin: 0;
	font-size:11px;
	font-style:normal;
	font-weight:100;
	line-height:160%;
	letter-spacing:2px;
	text-decoration:none;
	border:none;
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;
	color: #000;
	height: 100%;
	background-color:#000;
}
ul,li{
	margin:0;
	padding:0;
	list-style:none;}
.main {
	position:relative;
	padding:0px auto;
	margin:30px auto;
	width:960px;
	-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;
}

/*追加*/
ul.menu_navi{
	text-align:center;
	color:#333;
}
ul.menu_navi li{
	float:left;
	text-align:center;
	margin-right:175px;
	}
ul.menu_navi li:last-child{
	margin-right:0px;
}
ul.menu_navi li img:hover{
	opacity:0.7;
}	
.q{
	color:#000;
}
/**/
.floatL{
	float:left;
	color:#fff;
}	
.floatR{
	float:right;
	
}
.floatR img:hover{
	opacity:0.7;}	
/**/
.map_box{
	height:520px;
	width:960px;
	}
.area_btn{
		padding-top:40px;
		height:520px;
	float:left;
}
li.area_btn ul li img:hover {
opacity:0.7;	
	}	
.area_tab{
	padding:150px 50px 0 0;
	width:550px;
	height:520px;
	float:right;

}
.area_tab img:hover {
opacity:0.7;	
	}		
	
	
/*---------------modal------------------*/
	
/* plibModal.css v1.0.0 */
#mdGryFilter{
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	z-index:9999;
	width:700px;
	height:300px;
	background-color:#000;
}

#tab2,#tab3,#tab4,#tab5,#tab6,#tab7,#tab8,#tab9,#tab10,#tab11{
    display: none;
}

.mdModal1,.mdModal2,.mdModal3,.mdModal4,.mdModal5,.mdModal6,.mdModal7,.mdModal8,.mdModal9,.mdModal10,.mdModal11{
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	z-index:9999;
}
.plibModal,.plibModal2,.plibModal3,.plibModal4,.plibModal5,.plibModal6,.plibModal7,.plibModal8,.plibModal9,.plibModal10,.plibModal11{
	background-color:#fff;
	padding:10px;
	overflow:hidden;
	}
.d_name{
	display:block;
	float:right;
	font-size:14px;
	}	
#tab1 img,#tab2 img,#tab3 img,#tab4 img,#tab5 img,#tab6 img,#tab7 img,#tab8 img,#tab9 img,#tab10 img,#tab11 img{
	cursor:pointer;
	}
