/* reset */del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, h1, h2, h3, h4, h5, p {margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: Arial, Helvetica, sans-serif;vertical-align: baseline;}:focus {outline: 0;}body {line-height: 1;color: black;background: white;}ol, ul {list-style: none;}table {border-collapse: separate;border-spacing: 0;}caption, th, td {text-align: left;font-weight: normal;}blockquote:before, blockquote:after,q:before, q:after {content: "";}blockquote, q {quotes: "" "";}a{text-decoration:none;}
body{background:#000;font-family:Helvetica,Arial;font-size:11px;margin:0;max-width:480px;min-width:320px;width:100%;-webkit-text-size-adjust:none;line-height:14px;}
.clear { clear: both; height: 0; }

a:link{border-bottom: 1px solid; color:#ff6666;}
a:visited{border-bottom: 1px solid; color:#3366cc;}
a:active{border-bottom: 1px solid; color:#3366cc;}


a{
	font-size: 120%;
}

dd a{
	font-size: 100%;
}

header{
	height:118px;
	text-align: center;
}

#logo img{
	margin-top:0px;
	background-color:#000;
}

.title{
	height:25px;
	background-color:#999;
	background-repeat: repeat-x;
}

.title p{
	font-size:120%;
	font-weight: bold;
	color:#000;
	padding:6px 10px 5px;
	text-shadow: 1px 1px 0 rgba(180, 180, 180, 30);
}

.title p#footer{
	font-size:90%;
	font-weight: bold;
	color:#000;
	padding:6px 10px 5px;
	text-shadow: 1px 1px 0 rgba(180, 180, 180, 30);
}

ul.list li{
	height:50px;
	border-bottom: solid #e5e5e5 1px;
}

ul.list li p{
	font-size:100%;
	font-weight: bold;
	color:#FFF;
	padding:12px 10px 10px;
	background-image: url();
	background-position-x: 96%;
	background-position-y: 50%;
	background-repeat: no-repeat;
}

ul.list li p span{
	font-size:70%;
	font-weight: normal;
	color:#666;
}

img.arrow{
	display: inline;
	float:right;
	margin:10px;
}

#contents{
	padding:15px 10px 20px;
}

#contents p{
	font-size:120%;
	line-height: 200%;
	font-weight: normal;
	color:#FFF;
}

#contents b{
	font-size:120%;
	font-weight: bold;
	color:#666;
	border-bottom: solid #e5e5e5 1px;
}

.info{
	margin-bottom: 25px;
}

dl{
	width:100%;
	color:#FFF;
	margin-top: 8px;
	line-height: 170%;
}

dt{
	float:left;
	width:50px;
	font-size:120%;
	
	margin:0 0 20px;
	clear:both;

}

dd{
	width:280px;
	font-size:120%;
	margin-left:20px;
	margin-bottom: 10px;
}
